extends ../../layout/layout
block title
    title PeoplePay 
block content
    .page.wait 
        <svg class="wait__bg" width="1440" height="810" viewBox="0 0 1440 810" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_f_1_147)">
            <rect x="-185" y="480" width="501" height="501" rx="250.5" fill="#00DFBD"/>
            </g>
            <g filter="url(#filter1_f_1_147)">
            <rect x="1242" y="398" width="501" height="501" rx="250.5" fill="#00DFBD"/>
            </g>
            <g filter="url(#filter2_f_1_147)">
            <rect x="1033" y="-135" width="655" height="655" rx="322.5" fill="#0090FF"/>
            </g>
            <g filter="url(#filter3_f_1_147)">
            <rect x="-157" y="-26" width="395" height="395" rx="197.5" fill="#0090FF"/>
            </g>
            <defs>
            <filter id="filter0_f_1_147" x="-985" y="-320" width="2101" height="2101" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="400" result="effect1_foregroundBlur_1_147"/>
            </filter>
            <filter id="filter1_f_1_147" x="442" y="-402" width="2101" height="2101" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="400" result="effect1_foregroundBlur_1_147"/>
            </filter>
            <filter id="filter2_f_1_147" x="263" y="-905" width="2195" height="2195" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="385" result="effect1_foregroundBlur_1_147"/>
            </filter>
            <filter id="filter3_f_1_147" x="-927" y="-796" width="1935" height="1935" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
            <feGaussianBlur stdDeviation="385" result="effect1_foregroundBlur_1_147"/>
            </filter>
            </defs>
        </svg>

        <svg class="wait__logo" width="348" height="56" viewBox="0 0 348 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M219.717 0.987183C213.947 0.987183 208.728 3.33562 204.953 7.11806C212.148 8.15719 217.69 14.3296 217.69 21.801C217.69 29.2724 212.159 35.4552 204.953 36.4839C208.728 40.2664 213.947 42.6148 219.717 42.6148C231.216 42.6148 240.542 33.2938 240.542 21.801C240.542 10.3082 231.216 0.987183 219.717 0.987183Z" fill="#00DFBD"/>
            <path d="M204.953 7.11806C204.257 7.01415 203.55 6.9518 202.822 6.9518C194.609 6.9518 187.955 13.6022 187.955 21.8114C187.955 30.0205 194.609 36.671 202.822 36.671C203.55 36.671 204.257 36.5982 204.953 36.5047C201.2 32.7431 198.882 27.5474 198.882 21.8218C198.882 16.0962 201.2 10.9005 204.953 7.13884V7.11806Z" fill="#0090FF"/>
            <path d="M217.679 21.801C217.679 14.3192 212.148 8.1468 204.943 7.11806C201.19 10.8797 198.871 16.0754 198.871 21.801C198.871 27.5266 201.19 32.7223 204.943 36.4839C212.138 35.4448 217.679 29.2724 217.679 21.801Z" fill="#0079C5"/>
            <path d="M266.326 0.987183C257.946 0.987183 251.147 7.77272 251.147 16.1585C251.147 16.6573 251.178 17.1457 251.22 17.6237H251.147V42.7603H257.458V28.4514C259.953 30.2491 263.01 31.3298 266.326 31.3298C274.706 31.3298 281.506 24.5443 281.506 16.1585C281.506 7.77272 274.717 0.987183 266.326 0.987183ZM266.326 25.0119C261.429 25.0119 257.458 21.0424 257.458 16.1481C257.458 11.2538 261.429 7.28432 266.326 7.28432C271.223 7.28432 275.195 11.2538 275.195 16.1481C275.195 21.0424 271.223 25.0119 266.326 25.0119Z" fill="#00DFBD"/>
            <path d="M298.515 12.4176C290.135 12.4176 283.335 19.2032 283.335 27.589C283.335 35.9748 290.125 42.7603 298.515 42.7603C301.831 42.7603 304.888 41.69 307.383 39.8819V42.7603H313.694V27.589C313.694 19.2136 306.905 12.4176 298.515 12.4176ZM298.515 36.4424C293.618 36.4424 289.646 32.4729 289.646 27.5786C289.646 22.6843 293.618 18.7148 298.515 18.7148C303.412 18.7148 307.383 22.6843 307.383 27.5786C307.383 32.4729 303.412 36.4424 298.515 36.4424Z" fill="#00DFBD"/>
            <path d="M341.464 12.4176V27.589C341.464 32.4833 337.493 36.4528 332.596 36.4528C327.699 36.4528 323.727 32.4833 323.727 27.589V12.4176H317.416V27.589C317.416 35.9644 324.206 42.7603 332.596 42.7603C335.912 42.7603 338.969 41.69 341.464 39.8819V54.0868H347.775V12.4176H341.464Z" fill="#00DFBD"/>
            <path d="M83.2685 11.9085C74.5456 11.9085 67.4757 18.9746 67.4757 27.6929C67.4757 36.4112 74.5456 43.4773 83.2685 43.4773C91.9915 43.4773 99.0614 36.4112 99.0614 27.6929C99.0614 18.9746 91.9915 11.9085 83.2685 11.9085ZM83.2685 36.9204C78.1741 36.9204 74.0465 32.795 74.0465 27.7033C74.0465 22.6115 78.1741 18.4862 83.2685 18.4862C88.363 18.4862 92.4906 22.6115 92.4906 27.7033C92.4906 32.795 88.363 36.9204 83.2685 36.9204Z" fill="#0090FF"/>
            <path d="M15.7928 0C7.06987 0 0 7.0661 0 15.7844C0 16.304 0.0311906 16.8132 0.0727781 17.3119H0V43.4773H6.57082V28.5761C9.17004 30.4466 12.3515 31.5688 15.7928 31.5688C24.5158 31.5688 31.5857 24.5027 31.5857 15.7844C31.5857 7.0661 24.5158 0 15.7928 0ZM15.7928 25.0119C10.6984 25.0119 6.57082 20.8866 6.57082 15.7948C6.57082 10.7031 10.6984 6.56731 15.7928 6.56731C20.8873 6.56731 25.0149 10.6927 25.0149 15.7844C25.0149 20.8762 20.8873 25.0015 15.7928 25.0015V25.0119Z" fill="#0090FF"/>
            <path d="M144.61 0H138.039V43.2175H144.61V0Z" fill="#0090FF"/>
            <path d="M118.056 11.6383C109.333 11.6383 102.264 18.7044 102.264 27.4227V55.2714H108.834V40.2248C111.434 42.0952 114.615 43.2175 118.056 43.2175C126.779 43.2175 133.849 36.1514 133.849 27.4331C133.849 18.7148 126.779 11.6487 118.056 11.6487V11.6383ZM118.056 36.6502C112.962 36.6502 108.834 32.5248 108.834 27.4331C108.834 22.3413 112.962 18.216 118.056 18.216C123.151 18.216 127.278 22.3413 127.278 27.4331C127.278 32.5248 123.151 36.6502 118.056 36.6502Z" fill="#0090FF"/>
            <path d="M56.9852 30.9765H63.816C64.0447 29.9166 64.1591 28.8151 64.1591 27.6929C64.1591 18.9746 57.0892 11.9085 48.3662 11.9085C39.6433 11.9085 32.5734 18.9746 32.5734 27.6929C32.5734 36.4112 39.6433 43.4773 48.3662 43.4773C54.7395 43.4773 60.2187 39.6949 62.7139 34.2602H54.8331C53.1696 35.902 50.8823 36.9204 48.3558 36.9204C44.4154 36.9204 41.0676 34.4472 39.7472 30.9765H56.9748H56.9852ZM48.3766 18.4758C52.3171 18.4758 55.6648 20.9489 56.9852 24.4092H39.7576C41.078 20.9385 44.4362 18.4758 48.3662 18.4758H48.3766Z" fill="#0090FF"/>
            <path d="M172.921 30.9765H179.751C179.98 29.9166 180.095 28.8151 180.095 27.6929C180.095 18.9746 173.025 11.9085 164.302 11.9085C155.579 11.9085 148.509 18.9746 148.509 27.6929C148.509 36.4112 155.579 43.4773 164.302 43.4773C170.675 43.4773 176.154 39.6949 178.649 34.2602H170.769C169.105 35.902 166.818 36.9204 164.291 36.9204C160.351 36.9204 157.003 34.4472 155.683 30.9765H172.91H172.921ZM164.312 18.4758C168.253 18.4758 171.6 20.9489 172.921 24.4092H155.693C157.014 20.9385 160.372 18.4758 164.302 18.4758H164.312Z" fill="#0090FF"/>
        </svg>
        .wait__content
            .wait__title Совсем скоро здесь будет новый сайт!
            .wait__feedback-title Мы работаем и с удовольствием ответим на любые ваши вопросы:
            div
                a.wait__mail(href="mailto:hello@people-pay.ru") hello@people-pay.ru
            div
                a.wait__telegram(href="https://t.me/PeoplePayAgent/") 
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 28C21.732 28 28 21.732 28 14C28 6.26801 21.732 0 14 0C6.26801 0 0 6.26801 0 14C0 21.732 6.26801 28 14 28Z" fill="#0090FF"/>
                        <path d="M8.51844 16.0432L10.0722 21.137C10.099 21.2173 10.2171 21.2042 10.2253 21.1198L10.6288 16.9278C10.6309 16.9079 10.6398 16.8894 10.6549 16.8764L18.0897 10.4244C18.1611 10.3612 18.0794 10.2494 17.9977 10.2981L8.55344 15.9505C8.52118 15.9691 8.50677 16.0082 8.51913 16.0432H8.51844Z" fill="#CAD9EC"/>
                        <path d="M10.2246 21.1369L20.279 9.68657L10.6309 16.8969L10.2246 21.1369Z" fill="#B2C2D3"/>
                        <path d="M4.647 14.0014L20.0793 7.85346C20.4692 7.69835 20.8748 8.03945 20.7883 8.44986L18.0829 21.3175C17.9827 21.7951 17.4199 22.0065 17.0301 21.7128L10.6316 16.8969L17.982 10.3846L8.49856 15.9828L4.6717 14.7474C4.31826 14.6335 4.30178 14.1387 4.647 14.0014Z" fill="#FDFFFC"/>
                    </svg>
                    | PeoplePayAgent
            