header.header
	.inner
		.header__row 
			.header__logo
				<svg viewBox="0 0 140 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_321_3748)">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M118.768 -7.62939e-06H122.695V19.084H118.768V-7.62939e-06ZM125.16 -7.62939e-06H139.77V3.92716H134.359V19.084H130.428V3.92716H125.16V-7.62939e-06Z" fill="url(#paint0_linear_321_3748)"/>
					<path d="M74.3874 9.18206C74.3874 6.03946 76.504 3.85818 79.5216 3.85818C82.5392 3.85818 84.6903 6.04377 84.6903 9.18206V19.084H89.1434V9.79851C89.1434 4.03062 85.1903 -7.62939e-06 79.5216 -7.62939e-06C73.8529 -7.62939e-06 69.9343 4.02631 69.9343 9.79851V19.084H74.3874V9.18206Z" class="header__logo-fill"/>
					<path d="M29.5158 0V9.90197C29.5158 13.0446 27.3991 15.2258 24.3816 15.2258C21.364 15.2258 19.2129 13.0403 19.2129 9.90197V0H14.7555V9.90197C14.7555 13.0446 12.6389 15.2258 9.62128 15.2258C6.6037 15.2258 4.4526 13.0403 4.4526 9.90197V0H-0.000488281V9.28552C-0.000488281 15.0534 3.94823 19.084 9.62128 19.084C12.7078 19.084 15.2814 17.8684 16.9842 15.8294C18.6913 17.8684 21.2734 19.084 24.3816 19.084C30.0158 19.084 33.9688 15.0577 33.9688 9.28552V0H29.5158Z" fill="url(#paint1_linear_321_3748)"/>
					<path d="M110.361 7.67327C109.848 4.89709 108.326 2.68133 106.111 1.36221C104.654 0.491427 102.903 -7.62939e-06 100.942 -7.62939e-06C98.9806 -7.62939e-06 97.2606 0.491427 95.8078 1.35359C93.1222 2.95722 91.4453 5.88427 91.3677 9.53986C91.4453 13.1911 93.1179 16.1139 95.8078 17.7218C97.2649 18.5926 99.0151 19.084 100.977 19.084H105.93V15.2258H100.977C100.209 15.2258 99.5022 15.0879 98.8728 14.8292C97.6442 14.3292 96.7131 13.3808 96.2174 12.1264H110.206C110.413 11.3159 110.534 10.4494 110.551 9.53986C110.538 8.89323 110.473 8.27247 110.361 7.67327V7.67327ZM95.9889 7.67327C96.5579 5.36266 98.4374 3.85818 100.942 3.85818C103.447 3.85818 105.361 5.36697 105.93 7.67327H95.9889Z" class="header__logo-fill"/>
					<path d="M63.2696 1.36221C61.8126 0.491427 60.0624 -7.62939e-06 58.101 -7.62939e-06C56.1395 -7.62939e-06 54.4195 0.491427 52.9668 1.35359C50.2768 2.95722 48.6042 5.88427 48.5266 9.53986C48.6042 13.1911 50.2768 16.1139 52.9668 17.7218C54.4238 18.5926 56.174 19.084 58.1354 19.084C60.0969 19.084 61.8169 18.5926 63.2696 17.7304C65.9596 16.1268 67.6322 13.1997 67.7098 9.54417C67.6322 5.89289 65.9596 2.97015 63.2696 1.36221V1.36221ZM63.2696 9.18206V9.89765C63.2696 13.0402 61.153 15.2215 58.1354 15.2215C55.1179 15.2215 52.9668 13.0359 52.9668 9.89765V9.18206C52.9668 6.03946 55.0834 3.85818 58.101 3.85818C61.1185 3.85818 63.2696 6.04377 63.2696 9.18206V9.18206Z" class="header__logo-fill"/>
					<path d="M44.8882 11.04V8.044H37.6115V11.04H44.8882Z"class="header__logo-fill"/>
					</g>
					<defs>
					<linearGradient id="paint0_linear_321_3748" x1="118.768" y1="9.53986" x2="139.77" y2="9.53986" gradientUnits="userSpaceOnUse">
					<stop stop-color="#653290"/>
					<stop offset="1" stop-color="#ED2239"/>
					</linearGradient>
					<linearGradient id="paint1_linear_321_3748" x1="-0.000488281" y1="9.53986" x2="33.9688" y2="9.53986" gradientUnits="userSpaceOnUse">
					<stop stop-color="#653290"/>
					<stop offset="1" stop-color="#ED2239"/>
					</linearGradient>
					<clipPath id="clip0_321_3748">
					<rect width="139.77" height="19.084" fill="white"/>
					</clipPath>
					</defs>
				</svg>
			ul.header__menu 
				li
					a(href="#about").scroll-to
						span О компании
				li
					a(href="#solutions").scroll-to
						span
							<svg class="_star" width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.23913 0.155762C4.19421 0.0603838 4.1015 0 4 0C3.8985 0 3.80579 0.0603838 3.76087 0.155762L2.6692 2.47358L0.228351 2.84499C0.127896 2.86028 0.0444355 2.934 0.0130631 3.03516C-0.0183092 3.13632 0.00784858 3.24736 0.0805373 3.32161L1.84681 5.12568L1.42973 7.67333C1.41257 7.77816 1.4537 7.88411 1.53582 7.94663C1.61794 8.00915 1.72681 8.0174 1.81666 7.9679L4 6.76506L6.18334 7.9679C6.27319 8.0174 6.38206 8.00915 6.46418 7.94663C6.5463 7.88411 6.58743 7.77816 6.57027 7.67333L6.15319 5.12568L7.91946 3.32161C7.99215 3.24736 8.01831 3.13632 7.98694 3.03516C7.95556 2.934 7.8721 2.86028 7.77165 2.84499L5.3308 2.47358L4.23913 0.155762Z" fill="white"/>
							</svg>

							| Решения
				li
					a(href="#why").scroll-to
						span Почему Wone IT
				li
					a(href="#awards").scroll-to
						span Награды и статусы
				li
					a(href="#")
						span Отзывы
			button.header__feedback(data-popup="#feedback",type="button") 
				span.header__feedback-text  Связаться с нами
				span.header__feedback-arrow
					<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11.7849 1.40332H1.40323M11.7849 1.40332V11.785M11.7849 1.40332L1.40323 11.785" stroke-width="2"/>
						
					</svg>
			.header__mob-menu
			

.header-mob

	.header 
		.inner
			.header__row 
				.header__logo
					<svg viewBox="0 0 140 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_321_3748)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M118.768 -7.62939e-06H122.695V19.084H118.768V-7.62939e-06ZM125.16 -7.62939e-06H139.77V3.92716H134.359V19.084H130.428V3.92716H125.16V-7.62939e-06Z" fill="url(#paint0_linear_321_3748)"/>
						<path d="M74.3874 9.18206C74.3874 6.03946 76.504 3.85818 79.5216 3.85818C82.5392 3.85818 84.6903 6.04377 84.6903 9.18206V19.084H89.1434V9.79851C89.1434 4.03062 85.1903 -7.62939e-06 79.5216 -7.62939e-06C73.8529 -7.62939e-06 69.9343 4.02631 69.9343 9.79851V19.084H74.3874V9.18206Z" class="header__logo-fill"/>
						<path d="M29.5158 0V9.90197C29.5158 13.0446 27.3991 15.2258 24.3816 15.2258C21.364 15.2258 19.2129 13.0403 19.2129 9.90197V0H14.7555V9.90197C14.7555 13.0446 12.6389 15.2258 9.62128 15.2258C6.6037 15.2258 4.4526 13.0403 4.4526 9.90197V0H-0.000488281V9.28552C-0.000488281 15.0534 3.94823 19.084 9.62128 19.084C12.7078 19.084 15.2814 17.8684 16.9842 15.8294C18.6913 17.8684 21.2734 19.084 24.3816 19.084C30.0158 19.084 33.9688 15.0577 33.9688 9.28552V0H29.5158Z" fill="url(#paint1_linear_321_3748)"/>
						<path d="M110.361 7.67327C109.848 4.89709 108.326 2.68133 106.111 1.36221C104.654 0.491427 102.903 -7.62939e-06 100.942 -7.62939e-06C98.9806 -7.62939e-06 97.2606 0.491427 95.8078 1.35359C93.1222 2.95722 91.4453 5.88427 91.3677 9.53986C91.4453 13.1911 93.1179 16.1139 95.8078 17.7218C97.2649 18.5926 99.0151 19.084 100.977 19.084H105.93V15.2258H100.977C100.209 15.2258 99.5022 15.0879 98.8728 14.8292C97.6442 14.3292 96.7131 13.3808 96.2174 12.1264H110.206C110.413 11.3159 110.534 10.4494 110.551 9.53986C110.538 8.89323 110.473 8.27247 110.361 7.67327V7.67327ZM95.9889 7.67327C96.5579 5.36266 98.4374 3.85818 100.942 3.85818C103.447 3.85818 105.361 5.36697 105.93 7.67327H95.9889Z" class="header__logo-fill"/>
						<path d="M63.2696 1.36221C61.8126 0.491427 60.0624 -7.62939e-06 58.101 -7.62939e-06C56.1395 -7.62939e-06 54.4195 0.491427 52.9668 1.35359C50.2768 2.95722 48.6042 5.88427 48.5266 9.53986C48.6042 13.1911 50.2768 16.1139 52.9668 17.7218C54.4238 18.5926 56.174 19.084 58.1354 19.084C60.0969 19.084 61.8169 18.5926 63.2696 17.7304C65.9596 16.1268 67.6322 13.1997 67.7098 9.54417C67.6322 5.89289 65.9596 2.97015 63.2696 1.36221V1.36221ZM63.2696 9.18206V9.89765C63.2696 13.0402 61.153 15.2215 58.1354 15.2215C55.1179 15.2215 52.9668 13.0359 52.9668 9.89765V9.18206C52.9668 6.03946 55.0834 3.85818 58.101 3.85818C61.1185 3.85818 63.2696 6.04377 63.2696 9.18206V9.18206Z" class="header__logo-fill"/>
						<path d="M44.8882 11.04V8.044H37.6115V11.04H44.8882Z"class="header__logo-fill"/>
						</g>
						<defs>
						<linearGradient id="paint0_linear_321_3748" x1="118.768" y1="9.53986" x2="139.77" y2="9.53986" gradientUnits="userSpaceOnUse">
						<stop stop-color="#653290"/>
						<stop offset="1" stop-color="#ED2239"/>
						</linearGradient>
						<linearGradient id="paint1_linear_321_3748" x1="-0.000488281" y1="9.53986" x2="33.9688" y2="9.53986" gradientUnits="userSpaceOnUse">
						<stop stop-color="#653290"/>
						<stop offset="1" stop-color="#ED2239"/>
						</linearGradient>
						<clipPath id="clip0_321_3748">
						<rect width="139.77" height="19.084" fill="white"/>
						</clipPath>
						</defs>
					</svg>
				button.header__feedback(data-popup="#feedback",type="button") 
					span.header__feedback-text  Связаться с нами
					span.header__feedback-arrow
						<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.7849 1.40332H1.40323M11.7849 1.40332V11.785M11.7849 1.40332L1.40323 11.785" stroke-width="2"/>
							
						</svg>
				.header__mob-menu-close
	.header-mob__flex
		ul.header-mob__menu 
					li
						a(href="#about").scroll-to
							span О компании
					li
						a(href="#solutions").scroll-to
							span

								| Решения
					li
						a(href="#why").scroll-to
							span Почему Wone IT
					li
						a(href="#awards").scroll-to
							span Награды и статусы
					li
						a(href="#")
							span Отзывы

		.header-mob__contact 
			a(href="tel:+74993220545") +7 499 322-05-45
			a(href="mailto:info.ru@wone-it.ru ") info.ru@wone-it.ru 