extends ../../layout/layout
block title
    title PeoplePay 
block content
    .page 
        .container
            header.header 
                .header__row 
                    <svg class="header__logo" viewBox="0 0 197 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M124.46 0.559265C121.192 0.559265 118.235 1.88956 116.097 4.03215C120.173 4.62077 123.312 8.1172 123.312 12.3494C123.312 16.5816 120.179 20.0839 116.097 20.6667C118.235 22.8093 121.192 24.1396 124.46 24.1396C130.974 24.1396 136.257 18.8596 136.257 12.3494C136.257 5.83923 130.974 0.559265 124.46 0.559265Z" fill="#00DFBD"/>
                        <path d="M116.097 4.03217C115.703 3.97331 115.302 3.93799 114.89 3.93799C110.237 3.93799 106.468 7.70518 106.468 12.3553C106.468 17.0054 110.237 20.7726 114.89 20.7726C115.302 20.7726 115.703 20.7314 116.097 20.6785C113.971 18.5476 112.658 15.6045 112.658 12.3612C112.658 9.11788 113.971 6.17476 116.097 4.04394V4.03217Z" fill="#0090FF"/>
                        <path d="M123.306 12.3494C123.306 8.11133 120.173 4.6149 116.092 4.03217C113.965 6.16299 112.652 9.10611 112.652 12.3494C112.652 15.5927 113.965 18.5359 116.092 20.6667C120.167 20.0781 123.306 16.5816 123.306 12.3494V12.3494Z" fill="#0079C5"/>
                        <path d="M150.863 0.559204C146.116 0.559204 142.264 4.40292 142.264 9.15312C142.264 9.43566 142.282 9.71231 142.305 9.98308H142.264V24.2219H145.839V16.1165C147.252 17.1349 148.984 17.747 150.863 17.747C155.609 17.747 159.461 13.9033 159.461 9.15312C159.461 4.40292 155.615 0.559204 150.863 0.559204V0.559204ZM150.863 14.1682C148.089 14.1682 145.839 11.9197 145.839 9.14723C145.839 6.37481 148.089 4.12627 150.863 4.12627C153.636 4.12627 155.886 6.37481 155.886 9.14723C155.886 11.9197 153.636 14.1682 150.863 14.1682Z" fill="#00DFBD"/>
                        <path d="M169.096 7.03406C164.349 7.03406 160.498 10.8778 160.498 15.628C160.498 20.3782 164.343 24.2219 169.096 24.2219C170.975 24.2219 172.706 23.6156 174.12 22.5914V24.2219H177.695V15.628C177.695 10.8837 173.849 7.03406 169.096 7.03406V7.03406ZM169.096 20.6431C166.322 20.6431 164.072 18.3945 164.072 15.6221C164.072 12.8497 166.322 10.6011 169.096 10.6011C171.87 10.6011 174.12 12.8497 174.12 15.6221C174.12 18.3945 171.87 20.6431 169.096 20.6431Z" fill="#00DFBD"/>
                        <path d="M193.425 7.03406V15.628C193.425 18.4004 191.175 20.6489 188.401 20.6489C185.628 20.6489 183.378 18.4004 183.378 15.628V7.03406H179.803V15.628C179.803 20.3723 183.649 24.2219 188.401 24.2219C190.28 24.2219 192.012 23.6156 193.425 22.5914V30.6379H197V7.03406H193.425V7.03406Z" fill="#00DFBD"/>
                        <path d="M47.1681 6.74561C42.2269 6.74561 38.2222 10.7483 38.2222 15.6868C38.2222 20.6254 42.2269 24.628 47.1681 24.628C52.1093 24.628 56.1141 20.6254 56.1141 15.6868C56.1141 10.7483 52.1093 6.74561 47.1681 6.74561V6.74561ZM47.1681 20.9138C44.2823 20.9138 41.9443 18.577 41.9443 15.6927C41.9443 12.8084 44.2823 10.4716 47.1681 10.4716C50.0539 10.4716 52.392 12.8084 52.392 15.6927C52.392 18.577 50.0539 20.9138 47.1681 20.9138Z" fill="#0090FF"/>
                        <path d="M8.94598 0C4.00478 0 0 4.00265 0 8.9412C0 9.23552 0.0176682 9.52394 0.0412257 9.80648H0V24.628H3.72209V16.1872C5.19444 17.2467 6.99659 17.8824 8.94598 17.8824C13.8872 17.8824 17.892 13.8798 17.892 8.9412C17.892 4.00265 13.8872 0 8.94598 0ZM8.94598 14.1682C6.06018 14.1682 3.72209 11.8313 3.72209 8.94709C3.72209 6.06283 6.06018 3.72011 8.94598 3.72011C11.8318 3.72011 14.1699 6.05694 14.1699 8.9412C14.1699 11.8255 11.8318 14.1623 8.94598 14.1623V14.1682Z" fill="#0090FF"/>
                        <path d="M81.9154 0H78.1934V24.4809H81.9154V0Z" fill="#0090FF"/>
                        <path d="M66.874 6.59259C61.9328 6.59259 57.928 10.5952 57.928 15.5338V31.3089H61.6501V22.7856C63.1224 23.8452 64.9246 24.4809 66.874 24.4809C71.8152 24.4809 75.8199 20.4782 75.8199 15.5397C75.8199 10.6011 71.8152 6.59848 66.874 6.59848V6.59259ZM66.874 20.7608C63.9882 20.7608 61.6501 18.4239 61.6501 15.5397C61.6501 12.6554 63.9882 10.3186 66.874 10.3186C69.7598 10.3186 72.0978 12.6554 72.0978 15.5397C72.0978 18.4239 69.7598 20.7608 66.874 20.7608Z" fill="#0090FF"/>
                        <path d="M32.2797 17.5469H36.149C36.2786 16.9465 36.3434 16.3225 36.3434 15.6868C36.3434 10.7483 32.3386 6.74561 27.3974 6.74561C22.4562 6.74561 18.4514 10.7483 18.4514 15.6868C18.4514 20.6254 22.4562 24.628 27.3974 24.628C31.0076 24.628 34.1113 22.4854 35.5247 19.4069H31.0606C30.1183 20.3369 28.8226 20.9138 27.3915 20.9138C25.1594 20.9138 23.263 19.5129 22.5151 17.5469H32.2738H32.2797ZM27.4033 10.4657C29.6354 10.4657 31.5317 11.8666 32.2797 13.8268H22.521C23.2689 11.8608 25.1712 10.4657 27.3974 10.4657H27.4033Z" fill="#0090FF"/>
                        <path d="M97.9523 17.5469H101.822C101.951 16.9465 102.016 16.3225 102.016 15.6868C102.016 10.7483 98.0112 6.74561 93.07 6.74561C88.1288 6.74561 84.124 10.7483 84.124 15.6868C84.124 20.6254 88.1288 24.628 93.07 24.628C96.6802 24.628 99.7839 22.4854 101.197 19.4069H96.7332C95.7909 20.3369 94.4952 20.9138 93.0641 20.9138C90.832 20.9138 88.9357 19.5129 88.1877 17.5469H97.9464H97.9523ZM93.0759 10.4657C95.308 10.4657 97.2044 11.8666 97.9523 13.8268H88.1936C88.9415 11.8608 90.8438 10.4657 93.07 10.4657H93.0759Z" fill="#0090FF"/>
                    </svg>
                    a.header__mail(href="mailto:hello@people-pay.ru") hello@people-pay.ru
                    a.header__phone(href="tel:+74950238428") +7 (495) 023-84-28
                    a.header__telegram(href="https://t.me/PeoplePayAgent/") 
                        span 
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#0090FF"/>
                                <path d="M5.47602 10.3134L6.47489 13.588C6.49209 13.6396 6.56798 13.6313 6.57328 13.577L6.8327 10.8821C6.83402 10.8694 6.83976 10.8574 6.84947 10.8491L11.629 6.70135C11.6748 6.66076 11.6223 6.58885 11.5698 6.62017L5.49852 10.2539C5.47778 10.2658 5.46852 10.2909 5.47646 10.3134H5.47602Z" fill="#CAD9EC"/>
                                <path d="M6.573 13.5881L13.0366 6.22711L6.83419 10.8623L6.573 13.5881Z" fill="#B2C2D3"/>
                                <path d="M2.98729 9.00091L12.9081 5.04866C13.1587 4.94894 13.4194 5.16822 13.3638 5.43206L11.6246 13.7041C11.5602 14.0112 11.1984 14.147 10.9478 13.9582L6.83454 10.8623L11.5598 6.67579L5.4633 10.2746L3.00318 9.48049C2.77596 9.40725 2.76537 9.08915 2.98729 9.00091Z" fill="#FDFFFC"/>
                            </svg>
                            | PeoplePayAgent
            .page__content
                //- h1 Консалтинговая компания PeoplePay
                p 
                    b Оперативно и легально открываем банковские карты 
                    | со счетами в долларах, евро и местной валюте на Вас 
                    b по нотариально заверенной доверенности в различных иностранных банках.
                p Список банков постоянно пополняется, но из-за большого количества обращений, имеются ограничения по квотам для граждан Российской Федерации.

                h3 Что вы получаете?
                ul
                    li
                        p 
                            b Счета в иностранном банке  
                            | (доллары, евро, местная валюта);
                    li
                        p 
                            b Активированная дебетовая карта, 
                            | привязанная к любому из них (по Вашему выбору);
                    li
                        p 
                            b Банк-клиент  
                            | (WEB + мобильное приложение);
                    li
                        p 
                            b Активированная местная симкарта
                            |  (понадобится для регистрации в сервисах, попавших под санкции).
                h3 В чем преимущество счета в иностранном банке?
                ul
                    li 
                        p 
                            b Банковские карты   
                            | (VISA/MC)  
                            b   
                                u работают по всему миру без каких-либо ограничений;
                    li 
                        p Банковские карты
                            b  могут быть привязаны к Apple pay/Google pay;
                    li 
                        p 
                            b Нет проблем с регистрацией в сервисах 
                            | (Netflix, PokerStars, Steam, Spotify, Apple Store, Binance и так далее);
                    li 
                        p 
                            b Сохранность Ваших сбережений  
                            |  в случае наступления экономических и политических рисков в РФ.
                h3 Сколько это стоит?
                p 
                    b 
                        u Актуальная стоимость — 15 000₽ за 1 комплект (счет + карта + сим. карта).  
                    | Цена подтверждается в момент обращения и зависит от нагрузки и банковских квот.
                h3 Сколько занимает времени?
                p На все операции, включая отправку и получение документов, уходит не более 7 календарных дней!

                .open 
                    h2 Что нужно для открытия?
                    ul.style 
                        li 
                            p Сделать нотариальную доверенность на нашего сотрудника;
                        li 
                            p Предоставить копии документов;
                        li 
                            p Произвести оплату;
                        li 
                            p Заключить договор с нами на предоставление услуг.
                .h1 Мы работаем только с крупными и надежными местными банками, 
                    br
                    | с которыми у нас созданы партнерские взаимоотношения.
                p  Мы предложим Вам несколько вариантов на выбор в момент обращения, поскольку практически во всех существуют квоты на нерезидентов!
                p   
                    b Для Вашего спокойствия мы готовы провести сделку через гаранта. И не стоит откладывать — в начале следующей недели стоимость услуги существенно вырастет.
            //- .page__form
            //-     h2 Оформить заявку
            //-     p можно через менеджера в Telegram или заполнив заявку: 
            //-     form.form(action="#",method="#") 
            //-         .form__row
            //-             input(type="text",placeholder="Как к Вам обращаться?",name="name")
            //-             input(type="text",placeholder="Как с Вами связаться?",name="how")
            //-             button.btn(type="submit") 
            //-                 span Отправить
            //-             a.form__telegram(href="https://t.me/PeoplePayAgent/") 
            //-                 <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            //-                     <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#0090FF"/>
            //-                     <path d="M5.47602 10.3134L6.47489 13.588C6.49209 13.6396 6.56798 13.6313 6.57328 13.577L6.8327 10.8821C6.83402 10.8694 6.83976 10.8574 6.84947 10.8491L11.629 6.70135C11.6748 6.66076 11.6223 6.58885 11.5698 6.62017L5.49852 10.2539C5.47778 10.2658 5.46852 10.2909 5.47646 10.3134H5.47602Z" fill="#CAD9EC"/>
            //-                     <path d="M6.573 13.5881L13.0366 6.22711L6.83419 10.8623L6.573 13.5881Z" fill="#B2C2D3"/>
            //-                     <path d="M2.98729 9.00091L12.9081 5.04866C13.1587 4.94894 13.4194 5.16822 13.3638 5.43206L11.6246 13.7041C11.5602 14.0112 11.1984 14.147 10.9478 13.9582L6.83454 10.8623L11.5598 6.67579L5.4633 10.2746L3.00318 9.48049C2.77596 9.40725 2.76537 9.08915 2.98729 9.00091Z" fill="#FDFFFC"/>
            //-                 </svg>
            //-                 span PeoplePayAgent
            .h1(style="margin-bottom:15px") Свяжитесь с нашим менеджером для оформления заказа
            .soc-row 
                a.telegram(href="https://t.me/PeoplePayAgent/") 
                    span 
                        <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#0090FF"/>
                            <path d="M5.47602 10.3134L6.47489 13.588C6.49209 13.6396 6.56798 13.6313 6.57328 13.577L6.8327 10.8821C6.83402 10.8694 6.83976 10.8574 6.84947 10.8491L11.629 6.70135C11.6748 6.66076 11.6223 6.58885 11.5698 6.62017L5.49852 10.2539C5.47778 10.2658 5.46852 10.2909 5.47646 10.3134H5.47602Z" fill="#CAD9EC"/>
                            <path d="M6.573 13.5881L13.0366 6.22711L6.83419 10.8623L6.573 13.5881Z" fill="#B2C2D3"/>
                            <path d="M2.98729 9.00091L12.9081 5.04866C13.1587 4.94894 13.4194 5.16822 13.3638 5.43206L11.6246 13.7041C11.5602 14.0112 11.1984 14.147 10.9478 13.9582L6.83454 10.8623L11.5598 6.67579L5.4633 10.2746L3.00318 9.48049C2.77596 9.40725 2.76537 9.08915 2.98729 9.00091Z" fill="#FDFFFC"/>
                        </svg>
                        span PeoplePayAgent
                a.phone(href="tel:+74950238428") +7 (495) 023-84-28
