doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title
		<style>html,body,*{margin:0;padding;0;}.phisicbox {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}.box {position: absolute;cursor: move;}</style>
	body
			.phisicbox
	//- 			#ground 
	//- 			img(src="img/m-1.svg", alt="").box.boxm
	//- 			img(src="img/m-2.svg", alt="").box.boxm
	//- 			img(src="img/m-3.svg", alt="").box.boxm
	//- 			img(src="img/m-4.svg", alt="").box.boxm
	//- 			img(src="img/m-5.svg", alt="").box.boxm
	//- 			img(src="img/m-6.svg", alt="").box.boxm
	//- 			img(src="img/m-7.svg", alt="").box.boxm
	//- 			img(src="img/m-8.svg", alt="").box.boxm
	//- 			img(src="img/m-9.svg", alt="").box.boxm
	//- 			img(src="img/m-10.svg", alt="").box.boxm
	//- 			img(src="img/m-11.svg", alt="").box.boxm
	//- 			img(src="img/m-12.svg", alt="").box.boxm
	//- 			img(src="img/m-13.svg", alt="").box.boxm
	//- 			img(src="img/m-14.svg", alt="").box.boxm
	//- 			img(src="img/m-15.svg", alt="").box.boxm
	//- 			img(src="img/m-16.svg", alt="").box.boxm
	//- 			img(src="img/m-17.svg", alt="").box.boxm
	//- 			img(src="img/m-18.svg", alt="").box.boxm
	//- 			img(src="img/m-19.svg", alt="").box.boxm
	//- 			img(src="img/m-20.svg", alt="").box.boxm
	//- 			img(src="img/m-21.svg", alt="").box.boxm
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
			</script>
	script(src="js/vendor.js")
	script(src="js/n.js")
	